
.icon {
    fill: currentColor; /*El método fill llena el dibujo actual (ruta). El color predeterminado negro.*/
    stroke-width: 0;
    align-items: middle;
    color: #e60023;
    margin-top: 6px;
    margin-left: 11px;
    margin-bottom: 6px
}

.iconos2{
    fill: currentColor; /*El método fill llena el dibujo actual (ruta). El color predeterminado negro.*/
    stroke-width: 0;
    vertical-align: middle;
    color: #767676;

}

.nav-link .profile{
    width: 24px;
    height:24px;
    border-radius: 50%;
    border: solid #333 1px;
    align-items: center;
    }


#campana{
        margin-left: 60px;
        padding-left: 13px;
        height:50px;
        width: 50px;
    }

    #msn {
        width: 50px;
       height:50px;
    padding-left:1px ;
       
    }

    #perfil {
        width: 50px;
       height:49px;
    padding-left:12px ;
    }

.navbar-brand {
    
width: 50px;
height: 50px;
border-radius: 50%;

}

#nav-link-2 {
    
    width: 80px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border-radius: 24px;
    }

    .nav-link {
        width:44px;
        height:44px;
       border-radius: 50%;
       margin: 2px;
       
        }

        

#aiuda{
    background-image: url(/Proyectos/Modulo_1/Clon_pinterest/img/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 1vmax;
    background-size: 15px;
    
}



.form-control{
    margin-top: 3px;
    margin-left: 5px;
    width: 107%;
    height: 50px;
    border-radius: 24px;
    background-color: #ddd;
    }

a{
    font-weight: bold;
}

:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

body{
    margin: 0;
    padding: 0;
}

.pinterest{
margin: 0;
padding-top: 60px;
width: 100vw;
position: absolute;
left: 50%;
transform: translateX(-50%);
display: grid;
grid-template-columns: repeat(auto-fill, var(--card_width));
grid-auto-rows: var(--row_increment);
justify-content: center;
background-color:none;
border-color: none;
}

.card{
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: none;
    border-color: none;
}

.card_small{
    grid-row-end: span var(--card_small);
}

.card_medium{
    grid-row-end: span var(--card_medium);
}

.card_large{
    grid-row-end: span var(--card_large);
}

.small {
    padding: 0;
    margin: 0;
    border-radius: 16px;
    width: auto;
    height: 228px;
} 

.medium{
    border-radius: 16px;
    width: auto;
    height: 300px;
  }

.large{
        border-radius: 16px;
        width: auto;
        height: 418px;
}       

                a:hover {
                    cursor: pointer;
                    background-color: #f0f0f0 ;
                }
                
                h2{
                    color: white;
                    
                }
                .sombra {
                    position: absolute;
                    border-radius: 16px;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 101%;
                    width: 100%;
                    opacity: -1;
                    -webkit-transition: .2s ease;
                    transition: .2s ease;
                    background-color: #2e2d2d;
                 }
                  
                .card:hover .sombra  {
                    opacity: .5;
                    border-radius: 16px;
                    -webkit-transition: ease .2s;
                    transition: ease .2s;
                    cursor: -webkit-zoom-in;
                    cursor: zoom-in; 
                pointer-events: none;}

                
                  
                .navbar{
                    position: fixed;
                    z-index: 100000;
                    margin: 0px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    box-shadow: 0 8px 8px -8px #dbd9d9
                }